
#mapaContainer{
	width: 100%;
	min-height: 350px;
	margin: 25px 0;
	padding: 0;
}

#mapaIti{
	min-height: 350px;
	height: auto;
	width: 100%;
}

#paradasContainer{
	background-color: rgba(31, 39, 41, 0.6);
	color: #ECF0F1;
	padding: 0;
	margin: 0;
}

#dataContainer{
	margin: 15px 0;
}

.dataText span{
	border: 1px solid #ECF0F1;
	display: block;
	width: 85%;
	height: 100%;
	padding: 15px;
	font-size: 0.8em;
	min-height: 250px;
	margin: auto;
	overflow: auto;
	text-align: center;
	border-radius: 3px;
}

#adicionalContainer{
	margin-top: 25px;
}

#paradaVid, #paradaMap{
	width: 75%;
	height: auto;
	min-height: 325px;
	border: 1px solid #ECF0F1;
	border-radius: 3px;
}

.btnParada, .btnPruebas{
	border: 1px solid #ECF0F1;
	margin: 25px;
	height: 55px;
	padding: 10px 0;
	cursor: pointer;
	transition: all 400ms;
}

.btnParada:hover, .btnPruebas:hover{
	background-color: #ECF0F1;
	color: #1f2729;
	transition: all 400ms;
}