
#mapaContainer{
	width: 100%;
	min-height: 350px;
	margin: 25px 0;
	padding: 0;
}

#mapaIti{
	min-height: 350px;
	height: auto;
	width: 100%;
}

#paradasContainer{
	background-color: rgba(31, 39, 41, 0.6);
	color: #ECF0F1;
	padding: 0;
	margin: 0;
}

#dataContainer{
	margin: 15px 0;
}

.dataText span{
	border: 1px solid #ECF0F1;
	display: block;
	width: 85%;
	height: 100%;
	padding: 15px;
	font-size: 0.8em;
	height: 320px;
	margin: auto;
	overflow: auto;
	text-align: center;
	border-radius: 3px;
}

#adicionalContainer{
	margin-top: 25px;
}

#mediaContainer>img, #paradaMap{
	width: 75%;
	height: auto;
	min-height: 325px;
	border: 1px solid #ECF0F1;
	border-radius: 3px;
}

.btnParada, .btnPruebas{
	border: 1px solid #ECF0F1;
	color: #ECF0F1;
	margin: 25px;
	height: 55px;
	padding: 10px 0;
	cursor: pointer;
	transition: all 400ms;
}

.btnParada:hover, .btnPruebas:hover{
	background-color: #ECF0F1;
	color: #1f2729;
	transition: all 400ms;
}

.btnPruebasDisabled{
	border-color: rgba(236, 240, 241, 0.4);
	color: rgba(236, 240, 241, 0.4);
	pointer-events: none;
	cursor: no-drop;
}

/* Ajustes de ventanas modales */

.modal-dialog{
	border: 1px solid #1F2729;
	border-radius: 10px;
	margin-top: 10%;
}

.modal-header{
	background-color: #ECF0F1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.modal-body{
	background-color: #ECF0F1;
}

.modal-body>p{
	font-size: 0.9em;
}

.modal-footer{
	background-color: #ECF0F1;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#preguntaCultural{
	margin-top: 0;
	margin-bottom: 20px;
}

.respuesta{
	border: 1px solid #1F2729;
	color: #1f2729;
	transition: all 400ms;
	cursor: pointer;
	padding: 7px 10px;
	margin: 10px auto;
	min-height: 30px;
}

.respuesta:hover{
	background-color: #1F2729;
	color: #ECF0F1;
	transition: all 400ms;
}

.respuestaBien{
	background-color: #48ad44;
	color: #1f2729;
	transition: all 400ms;
}

.respuestaMal{
	background-color: #a0292f;
	color: #ECF0F1;
	transition: all 400ms;
}

.respuestaDisabled{
	pointer-events: none;
}

.btnCambioCultural{
	border: 1px solid #1F2729;
	color: #1f2729;
	transition: all 400ms;
	cursor: pointer;
	padding: 7px 5px;
	margin: 7px auto;
	min-height: 40px;
}

.btnCambioCultural:hover{
	background-color: #1F2729;
	color: #ECF0F1;
	transition: all 400ms;
}



