
#fechaNoticia{
    font-size: 0.9em;
}

#imgContainer{
    margin: 15px -45px;
    height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#backNoticias{
    font-size: 0.8em;
}

#textoNoticia{
    margin-top: 15px;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.2em;
}

.noticiaNombre{
    height: 85px;
}

@media(max-width: 1366px){
    #textoNoticia{
        font-size: 0.8em;
    }
    #imgContainer{
        height: 350px;
    }
    #backNoticias{
        font-size: 0.7em;
    }
}

@media(max-width: 1024px){
    #textoNoticia{
        font-size: 0.7em;
    }
    #imgContainer{
        height: 325px;
    }
    #backNoticias{
        font-size: 0.6em;
    }
}