

/*Propiedades de títulos*/

    .landing h1 {
        font-size: 2.5em;
        margin-bottom: 35px;
    }


/*Propiedades de tabla*/

    .table {
        border-top: 2px solid #1F2729;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    .table tr th, .table-striped tr th, .table-responsive tr th{
        border: 2px solid #1F2729;
        padding: 7px 5px;
        background-color: #72BCC7;
        color: #1F2729;
        text-align: center;
        cursor: pointer;
    }

    .table .theadHide{
        visibility: hidden;
        width: 105px;
        border: none;
    }

    .table tr td, .table-striped tr td, .table-responsive tr td {
        border: 1px solid #1F2729;
        padding: 7px 5px;
    }

    .table tr .hiddenT {
        visibility: hidden;
        border: none;
    }

    .table tr .btnTabla {
        width: 105px;
        border: none;
        color: #1F2729;
        text-decoration: none;
        background: none;
    }
    
    .table tr a{
    	color: #1F2729;
    	font-size: 0.8em;
    }

    .table tr a:hover {
        color: #72BCC7;
        transition-duration: 0.3s;
        text-decoration: none;
    }

    .nuevo{
        text-decoration: none;
        color: #1f2729;
        font-size: 0.8em;
    }

    .editar, .eliminar {
        border: none;
        cursor: pointer;
        background: none!important;
        color: #1F2729;
        font-size: 0.8em;
        transition-duration: 0.3s;
    }

    table tr .btnTabla span {
        font-size: 0.8em;
    }

    .editar:hover {
        color: #72BCC7;
        transition-duration: 0.3s;
        font-size: 0.9em;
    }

    .table tr a.eliminar:hover {
        font-size: 0.9em;
        transition-duration: 0.3s;
        color: #a0292f !important;
    }

    .nuevo:hover {
        transition-duration: 0.3s;
        color: #48ad44 !important;
        font-size: 0.9em;
    }
/*Propiedades de divs*/

    .landing {
        display: block;
        font-size: 1em;
    }

    .tablaHid {
        display: none;
        font-size: 1em;
    }


/*Propiedades del landing*/

    .selector {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .selector a {
        text-decoration: none;
        color: #1F2729;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 15%;
        height: 150px;
        border: 2px solid;
        padding-top: 30px;
        margin: 25px 10px;
        margin-left: 0;
        transition: 0.3s;
    }

    .selector a span {
        padding: 0 7px;
        padding-top: 15px;
        font-size: 1.2em;
        text-align: center;
    }

    .selector a:hover {
        background-color: #1F2729;
        color: #ECF0F1;
    }

    .selAdmin i{
        font-size: 1.35em;
    }

    .selector .selAdminDisabled{
        cursor: not-allowed;
        color: rgba(31, 39, 41, 0.2);
        border-color: rgba(31, 39, 41, 0.5);
    }

    .selector .selAdminDisabled:hover{
        color: rgba(31, 39, 41, 0.5);
        background-color: transparent;
    }

    /*Propiedades de la barra de navegación del admin*/

    .admin {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .admin div {
        flex-basis: 89%;
    }

    .admin .navAdmin {
        flex-basis: 10%;
        display: none;
        flex-direction: column;
    }

    .admin .navAdmin a {
        text-decoration: none;
        color: #1F2729;
        border-right: 1px solid rgba(31, 39, 41, 0.25);
        font-size: 0.9em;
        height: 50px;
        padding: 15px 5px 15px 0px;
    }

    .admin .navAdmin a span {
        font-size: 0.75em;
    }

    .admin .navAdmin a:hover, .admin .navAdmin .selected {
        color: #72BCC7;
    }

    .admin .navAdmin .selAdminNavDisabled{
        color: rgba(31, 39, 41, 0.5); 
        cursor: not-allowed;
    }

    .admin .navAdmin .selAdminNavDisabled:hover{
        color: rgba(31, 39, 41, 0.5);
    }

/* Propiedades de barra del buscador */

	#buscador{
	    width: 95%;
	    font-size: 0.7em;
	    background-color: transparent;
	    margin-top: 25px; 
	    margin-right: 7px;
	    border: none;
	    border-bottom: 1px solid rgba(31, 39, 41, 0.25);
	    padding: 5px;
	    outline: none;
	}
	
/* Propiedades de ventanas modales */

	.info-modal .modal-dialog{
		width: 85%;
		border: 1px solid #1F2729;
        border-radius: 10px;
        margin-top: 8%;
	}
	
	.info-modal .modal-body{
		background-color: #ECF0F1;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 35px 20px;
		padding-bottom: 10px;
	}
	
	.info-modal .modal-header {
		background-color: rgb(114, 188, 199);
		color: #ECF0F1;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: 1px solid #1f2729;
    }
    
    .info-modal .modal-header>h4{
        font-size: 1.2em;
        text-align: center;
    }
	
	#modalEliminar .modal-dialog{
		border: 1px solid #1f2729;
		border-radius: 10px;
		margin-top: 8%;
	}
	
	#modalEliminar .modal-header{
		background-color: #ECF0F1;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	#modalEliminar .modal-body{
        background-color: #ECF0F1;
        border-radius: 0;
	}
	
	#modalEliminar .modal-footer{
		background-color: #ECF0F1;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
    }

    #infoCliente>.modal-dialog{
        width: 85%;
    }

    #infoCliente>.modal-dialog>.modal-body{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #infoCliente>.modal-dialog>.modal-body>div{
        padding: 7px 15px;
        margin-bottom: 15px;
    }
    
    #infoCliente>.modal-dialog>.modal-body>div>p>strong, #infoCliente>.modal-dialog>.modal-body>div>p>span{
        font-size: 0.9em;
        padding-right: 7px;
    }

    #infoClienteImg{
        flex-basis: 5%;
        text-align: center;
    }

    #infoClienteImg>img{
        height: 95%;
        border: 1px solid #1F2729;
        margin-top: 4px;
    }

    #infoClienteInfoPrincipal, #infoClienteInfoSecundaria{
        border-left: 1px solid #1f27291c;
        border-bottom: 1px solid #1f27291c;
    }

    #infoClienteInfoPrincipal{
        flex-basis: 37%;
    }

    #infoClienteInfoSecundaria{
        flex-basis: 35%;
    }