
/* Pantalla de perfil de usuario */

    #showPerfil>h2{
        flex-basis: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    #showPerfil>h2>em{
        font-size: 0.9em;
        color: #2C3E50;
    }

    #showPerfil>div{
        margin: 30px auto;
    }

    #perfilInfoPersonal{
        min-height: 225px;
    }
    
    #perfilImgContainer{
		text-align: center;
	}
    
	#perfilImgContainer > img{
		border-radius: 100px;
		height: 85%;
		border: 2px solid #2C3E50;
	}
	
	#perfilDataContainer {
		min-height: 225px;
		padding-top: 35px;
	}
	
	#perfilDataContainer p{
		padding: 5px 0;
	}
	
	#perfilEditar{
		text-align: center;
	}

    #perfilActividades{
        border-top: 1px solid rgba(31, 39, 41, 0.25);
        min-height: 200px;
    }

    #perfilPremios{
        border-top: 1px solid rgba(31, 39, 41, 0.25);
        min-height: 200px;
    }
    
    h3>a{
		font-size: 1.3em;
	}
    
    #perfilActData, #perfilPremData{
    	padding: 10px 45px;
    }
    
    #perfilActData ul, #perfilPremData ul{
    	list-style: none;
    }
    
    #perfilActData ul>li, #perfilPremData ul>li{
    	padding: 7px 0;
    }

/* Pantalla de editar perfil de usuario */

	#editPerfilBtns{
		margin-top: 35px;
	}

/*Propiedades de los inputs*/

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0; 
    }   

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    textarea{
        resize: none;
        margin-bottom: -5px;
        overflow: auto;
        max-height: 250px;
    }

    textarea::-webkit-scrollbar {
        width: 7px;
    }
     
    textarea::-webkit-scrollbar-thumb {
        background: #1f2729; 
    }

    select option {
        width: 100%;
        background-color: transparent;
        color: #1F2729;
    }

        /* Propiedades de los datepicker */
        
        	#ui-datepicker-div {
        		display: none;
        	}

            .ui-datepicker{
                width: 20%;
                background-color: rgba(236, 240, 241, 0.7);
                border: 1.2px solid #72BCC7; 
                padding: 25px 15px;
                padding-top: 7px;
                margin-top: 7px;
                color: #1F2729;
            }

            .ui-datepicker-prev{
                text-align: left;
                cursor: pointer;
            }

            .ui-datepicker-next{
                text-align: right;
                float: right;
                cursor: pointer;
            }

            .ui-datepicker-next span, .ui-datepicker-prev span{
                font-size: 0.7em;
                color: #72BCC7;
            }

            .ui-datepicker-next:hover span, .ui-datepicker-prev:hover span{
                color: #2C3E50;
                transition-duration: 0.3s;
            }

            .ui-datepicker-title{
                text-align: center;
            }

            .ui-datepicker-title span{
                font-weight: bold;
            }

            .ui-datepicker-calendar{
                margin: 0 auto;
                width: 95%;
            }

            .ui-datepicker-calendar a{
                text-decoration: none;
                color: #1F2729
            }

            .ui-datepicker-calendar td{
                text-align: center;
                background-color: rgba(114, 188, 199, 0.15);
                cursor: pointer;
            }

            .ui-datepicker-calendar td:hover{
                color: #ECF0F1;
                background-color: rgba(31, 39, 41, 0.4);
            }

            .ui-state-disabled{
                visibility: hidden;
            }


    /*Animación de los campos de texto*/

        :focus{
            outline: none;
        }

        .focus-border{
            margin: 0;
        }

        .inputCon{
            float: left;
            width: 100%;  
            position: relative;
            text-align: left;
            margin-bottom: 30px;
        } 

        .textIn{
            border: 0; 
            outline: none;
            width: 100%;
            padding: 4px; 
            border-bottom: 1px solid rgba(31, 39, 41, 0.20); 
            color: #1F2729;
            background-color: transparent;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif; 
        }

        .textIn ~ .focus-border{
            position: absolute; 
            bottom: 0; 
            left: 0; 
            width: 100%; 
            height: 2px; 
            z-index: 99;
        }

        .textIn ~ .focus-border:before, 
        .textIn ~ .focus-border:after{
            content: ""; 
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #72BCC7; 
            transition: 0.4s;
        }

        .textIn ~ .focus-border:after{
            left: auto; 
            right: 0;
        }

        .textIn:focus ~ .focus-border:before, 
        .textIn:focus ~ .focus-border:after,
        .has-content.textIn ~ .focus-border:before,
        .has-content.textIn ~ .focus-border:after{
            width: 50%; 
            transition: 0.4s;
        }

        .textIn ~ label{
            position: absolute; 
            left: 4px; 
            width: 100%; 
            top: 9px; 
            color: rgba(31, 39, 41, 0.20); 
            transition: 0.3s; 
            z-index: -1; 
            letter-spacing: 0.5px;
            font-size: 0.9em;
        }

        .textIn:focus ~ label, .has-content.textIn ~ label{
            top: -16px; 
            left: 0px;
            font-size: 0.6em; 
            color: #72BCC7; 
            transition: 0.3s;
        }


    .has-warning{
        background-color: rgba(255, 166, 0, 0.25);
    }



/* Pantalla de actividades de usuario */

	#showActividades>h2{
        flex-basis: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    #showActividades>h2>em{
        font-size: 0.9em;
        color: #2C3E50;
    }

    #showActividades>div{
        margin: 30px auto;
    }


/* Pantalla de premios de usuario */